
body {
	margin: 0;
	padding: 0;
	background: #353535 url(images/img03.jpg) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #534616;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #534616;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

/* este hace espaciado entre el texto */
p, ul, ol {  
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #534616;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */
#header {
	width: 960px;
	height: 110px;
	margin: 0 auto;
}

/* Logo */
#logo {
	float: left;
	height: 65px;
	margin: 0;
	padding-top: 20px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	font-size: 4.6em;
	color: #FFFFFF;
}

#logo p {
	float: left;
	margin: 0;
	padding: 30px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}
/*FIN DE LOGO*/

/* BARRA DE BUSQUEDA */

/*FIN DE BARRA BUSQUEDA*/

/* Menu */
/* #menu {
	width: 960px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	background: #1E1E1E;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 25px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 3px;
	height: 35px;
	padding: 15px 30px 7px 30px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu .current_page_item a {
	padding-left: 0;
}

#menu a:hover {
	text-decoration: underline;
} */
/*FIN DE MENU*/

/* PAGINA EN GENERAL */
#page {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0px 0px 0px;
}

/* #page-bgtop {
} */

/* #page-bgbtm {
} */

/* Content */
#content {
	float: right;
	width: 670px;
	padding: 0;
}

.post {
	margin-bottom: 30px;
	/* ACOMODE EL DEFASE CON EL MARGIN-TOP NEGATIVO */
	margin-top: -15px;
	padding: 0px;
	background: #FFFFFF;
}

/* .post-bgtop {
}

.post-bgbtm {
} */

.post .title {
	height: 38px;
	background: #1E1E1E url(images/img01.jpg) no-repeat left top;
	padding: 12px 0 0 20px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

.post .title a {
	border: none;
	color: #FFFFFF;
}

.post .meta {
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

/* .post .meta a {
} */

.post .entry {
	background: url(images/img02.jpg) no-repeat left top;
	padding: 10px 20px 20px 0px;
	/* padding-bottom: 20px; */
	text-align: justify;
	min-height: 184px;
}

.links {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-weight:  bold;
}

/* Sidebar OPCIONES IZQUIERDA */
#sidebar {
	float: left;
	width: 240px;
	padding: 0px;
	/* color: #787878; */
	color: black;
}

#sidebar ul {
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-top: 0;
	padding: 0;
}

#sidebar li ul {
	margin-bottom: 30px;
	padding: 10px 0px 10px 0px;
	background: #FFFFFF;
	border-left: 1px solid #D6E6CC;
	border-right: 1px solid #D6E6CC;
	border-bottom: 1px solid #D6E6CC;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	padding-left: 3px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 20px;
	background: #1E1E1E;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0px 0px 20px 0px;
	padding: 10px 20px 20px 20px;
	background: #FFFFFF;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

.padre-lista-notas{
	list-style: circle;
	list-style-position: inside;
}
.lista-notas{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	/* margin-top: 10px; */
	border-bottom: 1px dashed #787878;
	margin-bottom: 3px;
	font-size: 14px;
	font-weight: bold;
}
.lista-hojas{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	font-weight: bold;
}
.lista-checkbox{
	flex: 1 1 auto;
}
.lista-label{
	flex: 120 1 auto;
}
.lista-btn-borrar{
	flex: 1 1 auto;
	background: transparent;
	background-image: url("images/eliminar.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
	background-position: center;
	border:none;
}
.lista-btn-editar{
	flex: 1 1 auto;
	background: transparent;
	background-image: url("images/lapiz.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	background-position: center;
	border:none;
}

#btn-agregar-nota{
	/* background: transparent; */
	background-image: url("images/agregar.png");
	background-size: 16px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	background-position: 148px;
	/* border:none; */
	font-weight: bold;
	font-size: 16px;
}

#nueva-hoja {
	background-color: #FFFFFF;
	text-align: center;
}
#nueva-hoja h2{
	text-align: left;
}

#nueva-hoja form {
	height: 41px; /* ESTE DEBERIA QUITARLO */
	margin: 0;
	background: #FFFFFF;
}

#hoja-nombre {
	width: 195px;
	padding: 5px 5px 4px 5px;
	border: 1px solid #DEDEDE;
	background: #FFFFFF;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #703522;
}

#hoja-agregar {
	margin-top: 5px;
	width: auto;
	height: 25px;
}  

#nueva-hoja fieldset{
	background: #FFFFFF;
}

#nota-nueva{
	text-align: center;
	background-color: #FFFFFF;
}
#nota-nueva textarea{
	resize: none;
	border:#FFFFFF;
}
#nota-nueva select{
	margin-left: 10px;
	margin-right: 10px;
	padding: 3px;
	width: 220px;
}
#nota-nueva input{
	margin: 3px;
	border-radius: 10%;
	width: 234px;
}

label{
	color: black;
}

/*FIN DE OPCIONES IZQUIERDA*/

/* Calendar */
/* #calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
} */
/* FIN DE CALENDAR*/

/* Footer */
#footer {
	width: 960px;
	height: 64px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 26px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #898989;
}

#footer a {
	font-weight: bold;
	color: #898989;
}